{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.astro"],
            "options": {
                "parser": "astro"
            }
        }
    ]
}
